.dark-mode {
  --main-bg-color: #202124;
  --main-color: #303134;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --text-area-color: rgb(64, 68, 75);
  --button-color: #b9bbbe;
}

.light-mode {
  --main-bg-color: #fafafa;
  --main-color: #ffffff;
  --text-color: black;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-area-color: #f1f1f1;
  --button-color: #f1f1f1;
}


body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: -apple-system,  "Segoe UI", Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-family: "Segoe Script";
}

.post {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 480px 35px 1fr 50px;
  grid-template-areas:
      "Post-Title"
      "Post-Picture"
      "Interactive-Bar"
      "Comment-Section"
      "Post-Comment";
  justify-content: center;

  border-radius: 5px;
  /* border: 2px solid rgba(0, 0, 0, .3); */
  box-shadow: 0px 0px 2px 2px var(--shadow-color);

  width: 472px;
  height: 760px;
  margin: auto;
}
.post-title{
  grid-area: "Post-Title";
  align-self: center;
  margin-left: 10px;
}

.picDiv {
  grid-area: "Post-Picture";
  width: 472px;
}
.cat-picture{
  width: 472px;
  height: 472px;
  object-fit: cover;
  /* border-radius: 3px; */
}
.interactiveBar{
  grid-area: "Interactive-Bar";
  align-items: flex-start;
  margin-left: 10px;
}

.commentSection{
  grid-area: "Comment-Section";
  margin-left: 10px;
  overflow-y: scroll;

}

.comments-header-div {
  background-color: var(--main-color);
  position: fixed;
  width: 445px;
}

.comments-header {
  margin: 0px;
}

.comments {
  list-style-type: none;
  word-wrap:break-word;
  margin-top: 30px;
  margin-bottom: 50px;
}

.comment {
  margin-top: 8px;
  margin-bottom: 0px;
}

.comment-bar{
  grid-area: "Post-Comment";
  /* margin-left: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

textarea {
  width: 380px;
  height: 25;
  resize: none;
  font-family: sans-serif;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  background-color: var(--text-area-color);
}

.comment-post-button {
  font-weight: bold;
  height: 34px;
}

span {
  margin: 5px;
}

.newCatButton {
  margin-top: 20px;
  font-weight: bold;
  background-color: var(--button-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* footer {
  position: relative;
  left : 10px;
  bottom: 10px;
} */
