body {
  background-color: #fafafa;
  font-family: -apple-system,  "Segoe UI", Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Segoe Script";
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 480px 35px 1fr 50px;
  grid-template-areas:
      "Post-Title"
      "Post-Picture"
      "Interactive-Bar"
      "Comment-Section"
      "Post-Comment";
  justify-content: center;

  border-radius: 5px;
  /* border: 2px solid rgba(0, 0, 0, .3); */
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
  background-color: #FFFFFF;

  width: 472px;
  height: 760px;
  margin: auto;
}
.post-title{
  grid-area: "Post-Title";
  align-self: center;
  margin-left: 10px;
}

.picDiv {
  grid-area: "Post-Picture";
  width: 472px;
}
.cat-picture{
  width: 472px;
  height: 472px;
  object-fit: cover;
  /* border-radius: 3px; */
}
.interactiveBar{
  grid-area: "Interactive-Bar";
  align-items: flex-start;
  margin-left: 10px;
}

.commentSection{
  grid-area: "Comment-Section";
  margin-left: 10px;
  overflow-y: scroll;
}

.comments-header-div {
  background-color: #FFFFFF;
  position: fixed;
  width: 445px;
}

.comments-header {
  margin: 0px;
}

.comments {
  list-style-type: none;
  word-wrap:break-word;
  margin-top: 30px;
  margin-bottom: 50px;
}

.comment {
  margin-top: 8px;
  margin-bottom: 0px;
}

.comment-bar{
  grid-area: "Post-Comment";
  /* margin-left: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

textarea {
  width: 380px;
  height: 25;
  resize: none;
  font-family: sans-serif;
}

comment-post-button {
  
}

span {
  margin: 5px;
}

.newCatButton {
  margin-top: 20px;
  font-weight: bold;
}
